@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

.lds-heart {
  display: inline-block;
  position: relative;
  /*background-color: #ffe6e6; */
  width: 100px;
  height: 30px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
  animation: move-frame 5s;
}
.lds-heart div {
  /*top: 32px;
  left: 32px;*/
  top: 30%;
  left: 30%;
  position: absolute;
  width: 24px;
  height: 24px;
  background: #fff;
  animation: move-heart 5s;
  animation: lds-heart 3s  ; /*  infinite cubic-bezier(0.215, 0.61, 0.355, 1)*/

}

.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  background: #fff;
}
.lds-heart div:before {
  left: -18px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -18px;
  border-radius: 50% 50% 0 0;
}


@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}

@keyframes move-heart {
  0% {
    top: 22%;
    left: 40%;
  }
  12.5% {
    top: 20%;
    left: 50%;
  }
  25% {
    top: 30%;
    left: 60%;
  }
  37.5% {
    top: 45%;
    left: 50%;
  }
  50% {
    top: 80%;
    left: 30%;
  }
  62.5% {
    top: 45%;
    left: 0%;
  }
  75% {
    top: 20%;
    left: 20%;
  }
  87.5% {
    top: 22%;
    left: 0%;
  }
  100% {
    top: 30%;
    left: 30%;
  }
}

@keyframes move-frame {
  0% {
    width: 90px;
    height: 30px;
  }
  22% {
    width: 100px;
    height: 30px;
    transform: rotate(90deg);
  }
  88% {
    width: 30px;
    height: 100px;
    transform: rotate(0deg);
  }
  100% {
    width: 90px;
    height: 30px;
    transform: rotate(45deg);
  }
}

h1 {
  padding: 20px;
text-align: center;
background-color:  #cc0000;
color: white;
margin: 20px;
border-radius: 10px;
border-color: #ff6666;
border: 20px ;
border-style: dashed ;
}

.header5 {
  font-style: italic;
  margin: 5px;
}


h2 {
  padding: 5px;
text-align: center;
background-color:  #cc0000;
color: white;
margin: 5px;
border-radius: 10px;
border-color: #ff6666;
border: 5px ;
border-style: dashed ;
position: relative;
}

h2:hover  {
  cursor: pointer;
}

.highlight {
  color:#cc0000;
}

.wrap {
    position:absolute;
    top:0;
    left:0;
}


body {
  background: -webkit-canvas(demo-canvas);
  background-color: #ffe6e6;
}

footer {
  color: white;
  font-size: 120%;
  font-family: Brush Script MT;
  text-align: center;
  background-color:  #cc0000;
  display: flex;
  justify-content: center;
  align-content: center;
  min-width: 100%;
  min-height: 80px;
  margin-bottom: 0px;
  border-color:  black;
  border-radius: 10px;
  flex-direction: column;
  border: 15px ;
  border-style: dashed ;
}

#toc_container {
/*background: #f9f9f9 none repeat scroll 0 0;
border: 1px solid #aaa;*/
display: table;
font-size: 85%;
margin-bottom: 1em;
padding: 20px;
width: auto;
}
.toc_title {
font-weight: 700;
text-align: center;
}
#toc_container li, #toc_container ul, #toc_container ul li{
list-style: outside none none !important;
}


/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}





.column {
  float: left;
}

/* Left and right column */
.column.side {
  width: 25%;
  background-color: #ffcccc;
  float: left;
  border-radius: 20px;
  padding: 15px;
  font-size: 130%;
  font-family: Comic Sans MS;
  min-height: 500px;
  border: 10px;
  margin: 20px;

}

.container {
  display: flex;


  flex-direction: column;
   flex-wrap: nowrap;
    justify-content: space-around;
    flex-basis: 200px;
  align-content: center;
}

/* Middle column width: 70%;*/
.column.middle {
  color: black;
  width: 70%;
  background-color: #ff6666;
  padding: 50px;
  border-radius: 60px;
  font-size: 170%;
  font-family: Comic Sans MS;
  border: 10px;
  margin: 20px;
  text-align: center;

}

#content {
  font-size: 70%;
  text-align: left;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .container {
    width: 100%;
  }
}



/*
#pagebutton{
  background-color:white;
  padding: 13px 17px;
  border-radius: 12px;
  border-radius: 12px;
  font-size: 15px;
}
*/
#pagebutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#pagebutton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#pagebutton:hover span {
  padding-right: 25px;
}

#pagebutton:hover span:after {
  opacity: 1;
  right: 0;
}

a {
  color: black;
}

#flowchart {
  width: 90%;

}



/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links padding: 8px 8px 8px 32px;   display: block;*/
.sidenav a {
  padding: 8px 8px 8px 5px;
  text-decoration: none;
  font-size: 18px;
  color: #ffe6e6;
 display: block;
  transition: 0.3s;
  border: 1px dashed #ffe6e6;
}

.sidenav ul {
  list-style-type: none;
}

.sidenav ul li {
}

.sidenav ul li::before {
    color: red;
    font-weight: bold;
}
/*
.sidenav li::before {content: "---"; color: #ffe6e6;
  display: inline-block; width: 3em;
  margin-left: -1em}
*/
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 30px;
  margin-left: 50px;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}









.tree, .tree ul, .tree li {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.tree {
    margin: 0 0 1em;
    text-align: center;
}
.tree, .tree ul {
    display: table;
}
.tree ul {
  width: 100%;
}
    .tree li {
        display: table-cell;
        padding: .5em 0;
        vertical-align: top;
    }
        /* _________ */
        .tree li:before {
            outline: solid 1px #ffe6e6;
            content: "";
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
        }
        .tree li:first-child:before {left: 50%;}
        .tree li:last-child:before {right: 50%;}

        .tree code, .tree span {
            border: solid .1em #ffe6e6;
            border-radius: .2em;
            display: inline-block;
            margin: 0 .2em .5em;
            padding: .2em .5em;
            position: relative;
        }
        /* If the tree represents DOM structure */
        .tree code {
            font-family: monaco, Consolas, 'Lucida Console', monospace;
        }

            /* | */
            .tree ul:before,
            .tree code:before,
            .tree span:before {
                outline: solid 1px #ffe6e6;
                content: "";
                height: .5em;
                left: 50%;
                position: absolute;
            }
            .tree ul:before {
                top: -.5em;
            }
            .tree code:before,
            .tree span:before {
                top: -.55em;
            }

/* The root node doesn't connect upwards */
.tree > li {margin-top: 0;}
    .tree > li:before,
    .tree > li:after,
    .tree > li > code:before,
    .tree > li > span:before {
      outline: none;
    }



/*
.latex { background-color: white;}


*/
